#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Global Styles */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Links */
a {
    text-decoration: none;
    color: #00C8FF;
    transition: color 0.3s;
}

a:hover {
    color: #FF6B6B;
}
